<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <style>
      .text-gray{
          color:#666;
      }
      .my_class{
          width:660px;
      }
      .my_text_style_btn{
        margin-left:16px;
      } 
      #very_small{
          font-size:10px;
      }
      #small{
          font-size: 15px;
      }
      #middle{
          font-size: 25px;
      }
      #big{
          font-size: 40px;
      }
      .guanggao{
          width:300px;
          height:500px;
          border:1px solid #ccc;
      }
    </style>
    <title>发帖</title>
</head>
<body>
    <div class="container">   
        <div class="row">
                <div class="col-8">
                        <div class="border border-bottom-0">
                                <h4>发表新帖</h4>
                                <div class="my_class">
                                     <span class="w-25">标题：</span>
                                     <span class="text-gray"><input type="text">您可以输入50个字</span>
                                </div>
                                <div class="my_class">
                                    <span>分类：</span>
                                    <button class="btn mb-3 mt-3">1000-3000</button>
                                    <button class="btn mb-3 mt-3">3000-4000</button>
                                    <button class="btn mb-3 mt-3">4000-5000</button>
                                    <button class="btn mb-3 mt-3">5000-6000</button>
                                    <button class="btn mb-3 mt-3">6000以上</button>
                                    <button class="btn ml-5 mb-3">配件问价</button>
                                    <button class="btn mb-3">装机求助</button>
                                    <button class="btn mb-3">请求方案</button>
                                    <button class="btn mb-3">其他</button>
                                </div>
                        </div>
                       <div class="card">
                           <div class="card-header">
                               <div class="m-2 border-right d-flex">
                                   <div class="my_text_style_btn" >
                                        <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown">字体</button>
                                        <div class="dropdown-menu">
                                             <a class="dropdown-item active" href="#">微软雅黑</a>
                                             <a class="dropdown-item" href="#">黑体</a>
                                             <a class="dropdown-item" href="#">楷体</a>
                                             <a class="dropdown-item" href="#">宋体</a>
                                         </div>
                                   </div>
                                   <div class="my_text_style_btn">
                                        <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown">字号</button>
                                        <div class="dropdown-menu">
                                             <a class="dropdown-item active" id="very_small" href="#">2</a>
                                             <a class="dropdown-item" id="small" href="#">3</a>
                                             <a class="dropdown-item" id="middle" href="#">4</a>
                                             <a class="dropdown-item" id="big" href="#">5</a>
                                         </div>
                                   </div>                       
                                </div>
                                <div class="mt-1 ml-4">
                                    <a href="#"><img src="../public/img/big.png" alt=""></a>
                                    <a class="ml-2"  href="#"><img src="../public/img/text_color.png" alt=""></a>
                                    <a class="ml-2"  href="#"><img src="../public/img/link.png" alt=""></a>
                                    <a class="ml-2"  href="#"><img src="../public/img/face.png" alt=""></a>
                                    <a class="ml-2"  href="#"><img src="../public/img/pic.png" alt=""></a>
                                </div>
                                <button class="btn btn-danger float-right">发表</button>
                           </div>
                           <div class="card-body">
                               <textarea name="" id="" cols="93" rows="20"></textarea>
                           </div>
                           <div class="card-footer">
                               <div>
                                    产品关联：<input type="text"><button class="btn btn-warning text-white btn-md ml-2">搜索</button>
                               </div>
                               <div class="mt-4">
                                    <button class="btn btn-warning float-right">发表主题</button>
                               </div>
                               
                           </div>
                       </div>
                    </div>
                    <div class="col-4">
                         <div class="guanggao">
                             广告
                         </div>
                    </div>
 
        </div>    
        
    </div> 
</body>
</html>