<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
     .small_font{
         font-size: 0.9rem;
         color:#999;
     }
    </style>
</head>
<body>
    <div class="container">
        <div class="row w-75">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="http://localhost:3000/upload/list1.jpg" alt="Card-img">
                    <div class="card-body">
                        <h6 class="text-center">大神专用配置</h4>
                        <p class="small_font">吃鸡专用配置，拥有这配置，妈妈再也不用担心我吃不了鸡了。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>