<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container" id="main">
            <ul class=" list-unstyled d-flex" id="cpu_brand">
                    <li>品牌</li>
                    <li><a href="#" class="my_a_style">不限</a></li>
                    <li><a href="#" class="my_a_style">Intel</a></li>
                    <li><a href="#" class="my_a_style">AMD</a></li>
                </ul>
                <ul class=" list-unstyled d-flex" id="cpu_price">
                    <li>价格</li>
                    <li><a href="#" class="my_a_style">不限</a></li>
                    <li><a href="#" class="my_a_style">1000以下</a></li>
                    <li><a href="#" class="my_a_style">1000-2000</a></li>
                    <li><a href="#" class="my_a_style">2000-3000</a></li>
                    <li><a href="#" class="my_a_style">3000以上</a></li>
                </ul>
                <ul class=" list-unstyled d-flex" id="cpu_series">
                    <li>系列</li>
                    <li><a href="#" class="my_a_style">不限</a></li>
                    <li><a href="#" class="my_a_style">酷睿i9</a></li>
                    <li><a href="#" class="my_a_style">酷睿i7</a></li>
                    <li><a href="#" class="my_a_style">酷睿i5</a></li>
                    <li><a href="#" class="my_a_style">酷睿i3</a></li>
                    <li><a href="#" class="my_a_style">锐龙Ryzen7</a></li>
                    <li><a href="#" class="my_a_style">锐龙Ryzen5</a></li>
                </ul>
                <ul class=" list-unstyled d-flex" id="cpu_slot">
                    <li>特性</li>
                    <li><a href="#" class="my_a_style">不限</a></li>
                    <li><a href="#" class="my_a_style">性能强</a></li>
                    <li><a href="#" class="my_a_style">性价比高</a></li>
                    <li><a href="#" class="my_a_style">能耗低</a></li>
                </ul>
    </div>
    <script>
        $(function(){
            $.ajax({
              url:'/cpu/gettypes',
              type:'get',
              dataType:'json',
              success:function(res){
                if(res.code == 0 && res.result && res.result.length){
                    console.log(res);
                    var a=res.result; //[{品牌...},{系列...},{插槽...},{价格...}]
                    for(let i=0;i<a.length;i++){
                        var b=a[i].data;
                        console.log(b.length);   //[{},{}]
                        var html=`<ul class=" list-unstyled d-flex"><li>${a[i].title}</li><li><a href="#" class="my_a_style">不限</a></li>`;
                        for(let j=0;j<b.length;j++){
                             for(var z in b[j]){
                                html+=`<li><a href="#" class="my_a_style">${b[j][z]}</a></li>`;
                             }
                             html+=`</ul>`;
                        }
                    }
                  $('#main').html(html);
                }
              },error:function(error){
                     console.log(error);
                     alert('失败');
              }
            })
        })
    </script>
</body>
</html>