body {
    margin: 0;
    padding: 0;
    background: #fff;
}
#banner{
    width:100%;
    height:621.81px; 
    transition: all 1s;
}
#banner1,#banner2{
    width:100%;
    height:621.81px;
    position: absolute;
    color:#fff;
}
#banner h1,#banner h5{
    text-align: center;
    margin-top:100px;
}
#banner a{
    display:block;
    width:330px;
    height:70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    background:rgb(0,145,234);
    border-radius: 35px;
    margin:100px auto;
    color:#fff;
    font-size: 1.4rem;
}
.top span{
    width:50px;
    height:50px;
    background:#fff;
    position: absolute;
    text-align: center;
    line-height:50px;
    font-size: 1.8rem;
    color:#666;
    top:305px;
    cursor: pointer;
}
#left{left:40px;}
#right{left:1429.2px}
.main{   
    margin:0 200px;
}
#banner{position: relative;}
#banner1{background-image: url('/img/banner1.jpg')}
#banner2{
background-image: url('/img/banner2.jpg');
top:0;left:1519.2px;
}
.container-fluid{
    padding:0;
}

.start_btn {
    width: 150px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.my_div {
    height: 500px;
    border: 2px solid white;
    margin: 53px auto 0;
}

.font_sm {
    font-size: 0.7rem;
}

.font_gray {
    color: #666;
}

.font_ssm {
    font-size: 0.7rem;
}

.my_title {
    display: block;
    margin-left: 30%;
}

.lg {
    margin-left: 45%;
}

#login {
    width: 20%;
    margin-right: 30%;
}

.modal.fade.in {
    top: 90px;
}

#modal {
    margin-top: 200px;
}

.mt-15 {
    margin-top: 30px;
}
.navbar ul li:last-child{
    position: relative;
}
.dropdown{
    position: absolute;
    top:40px;;left:16px;
}
.dropdown>a{
    display:block;
    text-align: center;
    text-decoration: none;
    color:#fff;
    margin-top: 5px;
}
.dropdown>a:hover{
    background:#fff;
    color:rgb(50,200,200);
}
.hid{
    display:none;
}